  创建账号>=7天，其中登陆过的天数>=3天（并不一定是连续登陆），没有玩任何游戏项目，即封号，记为类型1.

  半小时金币异常增加超过100w，充值额度<=300元且游戏局数<=100局，记为类型2.（金币异常增加超过100w全部记录，暂不封号，但是异常100w用户数>=10个的时候需要短信报警）

  同一ip 12小时内登陆的账号超过10个，创建账号的日期相同，充值金额相同（包括充值金额=0），都为话费充值（移动、联通和电信），
   且游戏局数都<=25局，并且没有玩财神和万人场，进行封禁，记为类型3。  按此规则扫描账号的同时扫描三天内自动封号已经封的用户表。
   当发现这三天内用此ip登陆的用户有被封过，而扫描出来的用户除了数量达不到10个，其他要求相符也立即封号。当每天ftp活跃用户表生成时，
   扫描此表所有活跃用户，符合此规则的用户且未被封住的也立即封。

  一ip 12小时内登陆绑定邮箱且邮箱相似度80%以上的账号群中,没有玩过财神和万人场, 并且创建日期、密码相同的账号数量>10的所有账号封禁 、、、、、

   同一ip 12小时内登陆的已绑定邮箱的账号超过10个，这些账号创建日期相同，邮箱相识度0%以上，密码都相同，且都没有玩过财神和万人场，
   符合条件的进行封禁，记为类型4.    按此规则扫描账号的同时扫描三天内自动封号已经封的用户表。当发现这三天内用此ip登陆的用户有被封过，
   而扫描出来的用户除了数量达不到10个，其他要求相符也立即封号。当每天ftp活跃用户表生成时，扫描此表所有活跃用户，符合此规则的用户且未被封住的也立即封。

	一账号一个自然月内更换移动话费卡的数量>=3张，且被更换的卡这一个月内没被该账号再使用过，且所有充值都为移动话费充；符合此类账号导出来暂不封号，记录规则5.

	一账号上个月15号到当月15号之间更换移动话费卡的数量>=2，且被更换的卡这一个月内没被该账号再使用过，
    且这一个月时间段里>=10天里有5分钟内完成>=2次30元充值订单的行为；符合此类账号导出来暂不封号，记录规则6.

